* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://i.pinimg.com/originals/3a/0b/40/3a0b40d96c53860572a1c29970ce14a8.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}

/* //////////////////////////////HOME//////////////////////////////////////////////// */

#initialPage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 1100px;
  color: white;
}

#initialPage h1{
  font-size: 4em;
}

#initialPage h2{
  font-family:Courier;
}

a {
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

.trybe:hover {
  color: #1EB720;
  opacity: 0.8;
}

#firsth2 {
  margin-bottom: 100px;
}

#startBtn {
  padding: 10px 50px;
  border-radius: 20px;
  background-color: rgb(188, 155, 219);
  transition: 0.3s;
}

#startBtn:hover {
  background-color: rgb(170, 95, 240);
  box-shadow: 0px 0px 10px white;
}

#startBtn a {
  color: black;
}

/* //////////////////////////////ABOUT ME//////////////////////////////////////////////// */

#aboutMe {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 400px;
  text-align: center;
  margin-bottom: 200px;
  font-size: 1.7em;
}

#aboutMe-div {
  transition: 0.3s;
}

#aboutMe-div:hover {
  box-shadow: 0px 0px 20px rgba(183, 0, 255, 0.6);
}

#aboutMe h2 {
  margin-bottom: 80px;
  background-color: #0a0518;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid blueviolet;
}

#aboutMe div {
  padding: 20px;
  border-radius: 30px;
  background-color: #0a0518;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.233);
}

#aboutMe div div {
  text-align: left;
  max-width: 760px;
  box-shadow: 0px 0px 0px;
}

/* //////////////////////////////PROJECTS//////////////////////////////////////////////// */

/* //////////////////////////////CONTACT//////////////////////////////////////////////// */

#contact-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#contact-container h2 {
  margin-bottom: 80px;
  background-color: #0a0518;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid blueviolet;
}

#contact {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 30px;
  background-color: #0a0518;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.233);
  width: 80%;
  margin-bottom: 200px;
  display: flex;
  transition: 0.3s;
}

#contact:hover {
  box-shadow: 0px 0px 20px rgba(183, 0, 255, 0.6);
}

#contact img, video {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 0px 20px rgba(183, 0, 255, 0.6);
  margin-bottom: 20px;
}

#contact p {
  margin-left: 20px;
}

#image-links {
  text-align: center;
  font-size: 1.5em;
}

#about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* //////////////////////////////COLORS//////////////////////////////////////////////// */

.purple {
  color: blueviolet;
}

.jsPink {
color: 	#FF69B4;
}

.jsPurple {
  color: #7B68EE;
}

.trybeGreen {
  color: #1EB720;
}

.aqua {
  color: aqua;
}

.jsYellow {
  color: #fff385;
}

.white {
  color: white;
}

.red {
  color: rgb(248, 79, 79);
}



/** {
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace, sans-serif;
    text-align: center;
    background-color: #e6ffff;
    background: rgb(36,36,36);
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgb(97, 96, 96) 100%);
}

.description >h1 {
    margin-left: 350px;
    margin-right: 100px;
}

.subDescription >h2 {
    text-align: center;
    margin-inline: 51.5%;
}

.subDescription >ul {
    text-align: left;
    list-style-type: none;
    background-color: #99999980;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 15px;
    margin-inline: 38%;
    padding: 10px;
    position: relative;
    left: 120px;
}

.description {
    font-size: 20px;
}

.description >p {
    font-size: 20px;
    margin-left: 350px;
    margin-right: 100px;
}

#location {
    text-decoration: underline;
    font-size: 16px;
    position: absolute;
    bottom: 40px;
    left: 65px;
}

.links {
    color: white;
    text-decoration: none;
}

.subDescription li:not(:nth-child(n + 2)) {
    font-size: 1.2em;
}

#image{
    border-radius: 5%;
    box-shadow: 4px 4px 4px black;
    position: relative;
    float: left;
    margin-left: 30px;
    top: 60px;
}

.button {
    color: white;
    background-color: gray;    
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
}

.hoverButton:hover {
    color: white;
    text-decoration: underline;
    background-image: linear-gradient(to bottom right, black, gray);
}

.hoverButton:active {
    background-image: linear-gradient(to bottom right, gray, black);
    color: black;
}

.leftDescription #github {
    position: absolute;
    bottom: 15px;
    left: 100px;
}

.leftDescription #linkedin {
    position: absolute;
    bottom: 15px;
    left: 195px;
}

.hover:hover {
    color: black;
    text-decoration: underline;
}

.leftDescription {
    position: relative;
    top: 535px;
}

.buttons {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
}*/